<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <header>
      <h1>My Website</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/url">url-shortner</a>
      </nav>
    </header>

    <main>
      <h2>Welcome Home!</h2>
      <p>This is my homepage generated with EJS</p>

      <img src="/images/home.jpg" alt="Homepage Image" />

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
        euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem,
        adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo
        eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante
        id dui.
      </p>
    </main>

    <footer>
      <p>Copyright © 2022 My Website</p>
    </footer>
  </body>
</html>
